In [33]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [34]:
data = pd.read_csv('data/dataset.csv')
data = data.sort_values(['timestamp'])

In [35]:
train = data[:80000]
test = data[80000:]

In [36]:
train.head()

       user_id  item_id  rating  timestamp
217        259      255       4  874724710
83968      259      286       4  874724727
43030      259      298       4  874724754
21399      259      185       4  874724781
82658      259      173       4  874724843

In [37]:
test.head()

       user_id  item_id  rating  timestamp
1346         3      245       1  889237247
27978        3      355       3  889237247
1260         3      335       1  889237269
38673        3      322       3  889237269
3761         3      323       2  889237269

In [38]:
def average_precision(actual, recommended, k=30):
    ap_sum = 0
    hits = 0
    for i in range(k):
        product_id = recommended[i] if i < len(recommended) else None
        if product_id is not None and product_id in actual:
            hits += 1
            ap_sum += hits / (i + 1)
    return ap_sum / k


def normalized_average_precision(actual, recommended, k=30):
    actual = set(actual)
    if len(actual) == 0:
        return 0.0

    ap = average_precision(actual, recommended, k=k)
    ap_ideal = average_precision(actual, list(actual)[:k], k=k)
    return ap / ap_ideal

In [54]:
def recommend(user):
    return [288, 1, 286, 121, 174]

In [55]:
scores = []
for user in tqdm(test['user_id'].unique()):
    actual = list(test[test['user_id'] == user]['item_id'])
    recommended = recommend(user)
    
    scores.append(normalized_average_precision(actual, recommended))

np.mean(scores)

100%|██████████| 301/301 [00:00<00:00, 2202.74it/s]

0.03566965142495101

In [57]:
# Задача: Обучить модель так, чтобы мера была больше 0.1